[RAM_VERIFICATION_REPORT](https://drive.google.com/file/d/1-Pv_VrPkI2JlZ5JhvH0bX9xby0rSRwHE/view?usp=sharing)
